.promo {
  width: 960px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
}

.promo::after {
  content: "";

  display: block;
  clear: both;
}

.promo h3 {
  margin-top: 0;
  margin-bottom: 13px;

  font-style: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.promo__item {
  position: relative;

  float: left;
  width: 150px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px 130px 23px 20px;

  background-color: #ffbf47;
}


.promo__item::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;

  width: 130px;
  height: 130px;

  background-image: url(../img/sprite1.svg#icon1-view);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transform: translateY(-50%);
}

.promo__item--paint::before {
  background-image: url(../img/sprite1.svg#icon1-view);
}

.promo__item--screwdriver::before {
  background-image: url(../img/sprite1.svg#icon5-view);
}

.promo__item--tractor::before {
  right: 6px;

  background-image: url(../img/sprite1.svg#icon2-view);
}

.promo__item--cart::before {
  right: 10px;

  background-image: url(../img/sprite1.svg#icon3-view);
}

.promo__item--car::before {
  right: 6px;

  background-image: url(../img/sprite1.svg#icon4-view);
}


.promo__item--yellow {
  background-color: #ffbf47;
}

.promo__item--blue {
  background-color: #3bbce3;
}

.promo__item--pink {
  background-color: #dc91d8;
}

.promo__item--green {
  background-color: #8ed78f;
}

.promo-slider {
  position: relative;

  float: left;
  width: 620px;
  height: 266px;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;

  background-color: #c5c5c5;
}

.promo__item--new::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 59px;

  background: transparent url(../img/new_flag.png) 0 no-repeat;
}


.slider-button {
  position: absolute;
  top: 50%;
  z-index: 1;

  width: 70px;
  height: 120px;

  font-size: 0;
  color: transparent;

  background-color: transparent;
  background-image: url(../img/sprite1.svg#arrow-left-view);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border: 0;
  transform: translateY(-50%);
}

.slider-button__prev {
  left: 0;
}

.slider-button__next {
  right: 0;

  background-image: url(../img/sprite1.svg#arrow-right-view);
}

.slider__action {
  position: absolute;
  bottom: 20px;

  width: 175px;
}

.slider-controls {
  position: absolute;
  bottom: 31px;
  left: 50%;
  z-index: 1;

  margin: 0;
  padding: 0;

  list-style: none;

  transform: translateX(-50%);
}

.slider-control {
  display: inline-block;
  padding: 0 3px;
}

.slider-toggle {
  display: none;
}

.slider-control label {
  display: block;
  width: 6px;
  height: 6px;

  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

#slide1:checked ~ .slider-controls label[for="slide1"] {
  background-color: #ee3643;
}

#slide2:checked ~ .slider-controls label[for="slide2"] {
  background-color: #ee3643;
}

.slider {
  margin: 0;
  padding: 0;

  list-style: none;
}


.slider__item {
  position: relative;

  height: 226px;
  padding: 20px;
  padding-left: 25px;

  background-color: #333333;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.slide1 {
  background-image: url(../img/promo-perforator.jpg);
}

.slide2 {
  background-image: url(../img/promo-drill.jpg);
}

.slider__item h3 {
  margin: 0;
  padding: 0;

  font-style: bold;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
}

.slider__slogan {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

#slide1:checked ~ .slider {
  transform: translateY(0);
}

#slide2:checked ~ .slider {
  transform: translateY(-50%);
}

#slide1:checked ~ .slider-button__prev {
  display: none;
}



#slide2:checked ~ .slider-button__next {
  display: none;
}

