.service {
  padding-top: 50px;

  background-color: #f4f7f9;
}

.service h2 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
}

.service__controls {
  position: relative;

  float: left;
  width: 240px;
  margin: 0;
  margin-top: 45px;
  padding: 0;

  list-style: none;
}

.service__controls::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;

  display: block;
  width: 10px;
  height: 280px;

  background-image: url(../img/service-shadow.png);
  transform: translateY(-50%);
}

.service__slider {
  height: 287px;
  margin: 0;
  margin-top: 65px;
  margin-left: 320px;
  padding: 0;
  overflow: hidden;
}

.slide-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.service h3 {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;
}

.control-list__item {
  display: block;
  margin-bottom: 1px;
  padding: 20px;

  font-weight: bold;
  font-size: 21px;
  line-height: 1;
  color: #ffffff;

  background-color: #32425c;
  border-bottom: 1px solid #2b364a;
  box-shadow: 0 1px 0 0 #405069;
}

.control-list__item:hover {
  background-color: #293449;
}

#service-delivery:checked ~ .control-list .control-list__item[for="service-delivery"],
#service-warranty:checked ~ .control-list .control-list__item[for="service-warranty"],
#service-credit:checked ~ .control-list .control-list__item[for="service-credit"] {
  color: #32425c;

  background-color: #ffffff;
  border-bottom: 0;
  box-shadow: none;
}

#service-delivery:focus ~ .control-list,
#service-warranty:focus ~ .control-list,
#service-credit:focus ~ .control-list {
  outline: 1px solid rgba(50, 66, 92, 0.3);
  outline-offset: -1px;
}

.slide-list__item {
  height: 287px;
  padding-right: 320px;

  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: contain;
}

.slide-list__item--delivery {
  background-image: url(../img/delivery.jpg);
}

.slide-list__item--warranty {
  background-image: url(../img/warranty.jpg);
}

.slide-list__item--credit {
  background-image: url(../img/credit.jpg);
}

.service .main-button {
  width: 175px;
}

.button-send {
  display: none;
}

#service-delivery:checked ~ .service__slider .slide-list {
  transform: translateY(0);
}


#service-warranty:checked ~ .service__slider .slide-list {
  transform: translateY(-33%);
}


#service-credit:checked ~ .service__slider .slide-list {
  transform: translateY(-66%);
}

/* Данный селектор с большой вложенностью (как и несколько селекторов выше)
  обоснован тем, что реализует слайдер на чистом css с сохранением доступности */
#service-credit:checked ~ .service__slider .slide-list .slide-list__item--credit .button-send {
  display: block;
}
