.service {
  padding-top: 50px;
  background-color: #f4f7f9;
}

.service .wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.service h2 {
  width: 100%;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
}

.service .main-text {
  width: 100%;
}

.service__controls {
  position: relative;
  width: 240px;
  margin: 0;
  margin-top: 45px;
  padding: 0;
  list-style: none;
}

.service__controls::after {
  content: "";
  position: absolute;
  top: -40px;
  right: 0;
  display: block;
  width: 10px;
  height: 280px;
  background-image: url(../img/service-shadow.png);
}

.service__slider {
  width: 620px;
  height: 287px;
  margin: 0;
  margin-top: 45px;
  padding: 0;
  padding-left: 80px;
  overflow: hidden;
}

.slide-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service h3 {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;
}

.service-list__item button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1px;
  padding: 20px;
  font-weight: bold;
  font-size: 21px;
  line-height: 1;
  color: #ffffff;
  background-color: #32425c;
  border: 0;
  border-bottom: 1px solid #2b364a;
  box-shadow: 0 1px 0 0 #405069;
}

.service-list__item button:focus,
.service-list__item button:hover {
  color: #ffffff;
  background-color: #293449;
  outline: none;
}

.service-list__item--active button:hover,
.service-list__item--active button {
  color: #32425c;
  background-color: #ffffff;
  border-bottom: 0;
  outline: none;
  box-shadow: none;
}

.service-list__item--active button:focus {
  color: #32425c;
  background-color: #efefef;
}

.slide-list__item {
  height: 287px;
  padding-right: 320px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: contain;
}

.slide-list__item--delivery {
  background-image: url(../img/delivery.jpg);
}

.slide-list__item--warranty {
  background-image: url(../img/warranty.jpg);
}

.slide-list__item--credit {
  background-image: url(../img/credit.jpg);
}

.service .main-button {
  width: 175px;
}
