@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Cuprum";

  src: url("../fonts/cuprum.woff2") format("woff2"),
  url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-style: italic;
  font-weight: 400;
  font-family: "Cuprum";

  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
  url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Cuprum";

  src: url("../fonts/cuprumbold.woff2") format("woff2"),
  url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "PTSans";

  src: url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: bold;
  font-family: "PTSans";

  src: url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
}

body {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
}

.wrapper {
  width: 940px;
  margin: auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header-top {
  background-color: #293449;
}

.header-top .wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative; /* Чтоб состояние active в ie11 передалось имиджу */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 42px;
  margin: 0;
  padding: 0;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

/* Чтоб состояние active в ie11 передалось имиджу */
.logo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.logo:focus,
.logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
  outline: none;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.logo img {
  display: block;
}

.header-top__menu {
  margin: 0;
}

.header-button {
  position: relative;
  height: 18px;
  padding: 11px 30px 13px 40px;
  font-size: 18px;
  line-height: 1;
  color: #ffffff;
  text-decoration: none;
}

.header-button:focus,
.header-button:hover {
  background-color: #212a3a;
  outline: none;
}

.header-button:active {
  color: #5e626b;
  background-color: #161d29;
}

.header-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 42px;
  background-image: url(../img/sprite1.svg#search-view);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transform: translateY(-50%);
  opacity: 0.3;
}

.header-button:focus::before,
.header-button:hover::before {
  outline: none;
  opacity: 1;
}

.header-button:active::before {
  opacity: 0.5;
}

.button-bookmarks::before {
  background-image: url(../img/sprite1.svg#bookmark-view);
}

.button-cart--full {
  background-color: #ee3643;
}

.button-cart--full:hover,
.button-cart--full:focus {
  background-color: #ee0000;
}

.button-cart--full:active {
  color: rgba(255, 255, 255, 0.5);
}

.button-cart::before {
  background-image: url(../img/sprite1.svg#cart-view);
}

.button-order::before {
  display: none;
}

.button-order {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #63a63e;
}

.button-order:hover,
.button-order:focus {
  background-color: #5fbb2d;
  outline: none;
}

.button-order:active {
  color: #a2be93;
  background-color: #518534;
}

.form-search {
  display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
  height: 42px;
}

.form-search:hover,
.form-search:focus {
  background-color: #212a3a;
  outline: none;
}

.form-search:hover .button-search,
.form-search:focus .button-search {
  opacity: 1;
}

.button-search {
  width: 50px;
  height: 42px;
  margin: 0;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  background-image: url(../img/sprite1.svg#search-view);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border: 0;
  opacity: 0.3;
}

.search-text {
  flex-grow: 1;
  font-size: 18px;
  line-height: 1;
  color: #ffffff;
  background-color: transparent;
  border: 0;
}

.search-text:focus {
  color: #000000;
  background-color: #ffffff;
  outline: none;
}

.search-text:focus ~ .button-search {
  background-color: #ffffff;
  background-image: url(../img/sprite1.svg#search-red-view);
  opacity: 1;
}

.header-middle {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #f2f6f8;
}

.header-middle .wrapper {
  display: flex;
  /*justify-content: space-between;*/
  align-items: flex-start;
  /*width: 940px;*/
}

.header-middle.user-menu--logout .user-menu__user {
  display: none;
}

.header-middle.user-menu--login .user-menu__signin {
  display: none;
}

.header-address {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  margin-right: auto;
  font-size: 14px;
  line-height: 30px;
  color: #32425c;
}

.header-address span {
  padding-right: 10px;
  padding-left: 10px;
}

.header-address a {
  position: relative;
  padding: 10px 0 9px 65px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  text-decoration: none;
  border: 3px solid #ffffff;
}

.header-address a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 45px;
  height: 40px;
  background-image: url(../img/sprite1.svg#phone-view);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transform: translateY(-50%);
  opacity: 0.3;
}

h1 {
  width: 200px;
  margin: 0;
  margin-right: 60px;
  padding-left: 50px;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.button-icon {
  position: relative;
  padding: 10px 25px 9px 50px;
  font-size: 21px;
  line-height: 21px;
  color: #32425c;
  text-decoration: none;
  background-color: #ffffff;
  border: 3px solid #ffffff;
}

.button-icon:hover,
.button-icon:focus {
  color: #ee3643;
  outline: none;
}

.button-icon:active {
  color: #c5c5c5;
}

.button-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 45px;
  height: 40px;
  background-image: url(../img/sprite1.svg#login-view);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transform: translateY(-50%);
  opacity: 0.3;
}

.button-icon:hover::before,
.button-icon:focus::before {
  opacity: 1;
}

.button-icon:active::before {
  opacity: 0.3;
}

.button-login {
  margin-right: 10px;
}

.button-login::before {
  background-image: url(../img/sprite1.svg#login-view);
}

.button-signup::before {
  content: none;
}

.button-signup {
  padding-left: 25px;
}

.button-user:hover,
.button-user:focus {
  color: #32425c;
  outline: none;
}

.button-user:active {
  color: #c5c5c5;
}

.button-user::before {
  background-image: url(../img/sprite1.svg#user-view);
}

.button-logout {
  display: block;
  width: 0;
  padding-right: 0;
  overflow: hidden;
}

.button-logout::before {
  background-image: url(../img/sprite1.svg#logout-view);
}

.user-menu__signin {
  display: flex;
  list-style: none;
}

.user-menu__name {
  display: flex;
  margin: 0;
  padding: 0;
}

.user-menu__nav {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  text-align: left;
}

.user-menu__nav a,
.user-menu__nav {
  font-size: 16px;
  line-height: 30px;
  color: #32425c;
}

.user-menu__nav a:hover,
.user-menu__nav a:focus {
  color: #ee3643;
  outline: none;
}

.user-menu__nav a:active {
  color: #c5c5c5;
}

.header-bottom {
  padding-top: 0;
  padding-bottom: 45px;
  background-color: #f2f6f8;
}

.main {
  padding-top: 60px;
}

.main-nav ul {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0 20px;
  list-style: none;
  background-color: #32425c;
}

.main-nav ul::before,
.main-nav ul::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 20px;
  border-bottom: 5px solid #293449;
}

.main-nav ul::before {
  left: 0;
}

.main-nav ul::after {
  right: 0;
}

.main-nav__item {
  flex-grow: 1;
  text-align: center;
}

.main-nav__item a {
  display: block;
  padding: 20px 0 15px 0;
  font-size: 17px;
  line-height: 1;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 5px solid #293449;
}


.main-nav__item a:hover,
.main-nav__item a:focus {
  background-color: #293449;
  outline: none;
}

.main-nav__item a:active {
  color: #a8abaf;
  background-color: #1d2739;
  border-bottom: 5px solid #1d2739;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-top,
.footer-middle {
  background-color: #32425c;
}

.footer-middle {
  padding-bottom: 50px;
}

.footer-bottom {
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #293449;
}

.footer-nav {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  list-style: none;
}

.footer-middle .footer-nav {
  padding-top: 30px;
}

.footer-nav-item {
  display: block;
  padding: 0 30px;
}

.footer-nav-item:last-child {
  padding-right: 0;
}

.footer-nav-item a {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.footer-middle-nav a {
  color: #ffd180;
}

.footer-nav-item a:hover,
.footer-nav-item a:focus {
  text-decoration: underline;
  outline: none;
}

.footer-nav-item a:active {
  opacity: 0.5;
}

.footer-logo {
  display: flex;
  height: 63px;
  margin-right: auto;
}

.footer-logo img {
  width: 136px;
  height: auto;
}

.footer-address {
  margin: 0;
  margin-right: auto;
  padding-top: 30px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-address a {
  color: inherit;
  text-decoration: none;
}

.footer-address a:hover,
.footer-address a:focus {
  text-decoration: underline;
  outline: none;
}

.footer-text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}

.footer-contacts {
  margin-left: 135px;
}

.footer-develop {
  margin-left: 50px;
}

.footer-text a {
  color: #ffd180;
  text-decoration: none;
}

.footer-text a:hover,
.footer-text a:focus {
  text-decoration: underline;
  outline: none;
}

.footer-text a:active {
  color: #ee3643;
  text-decoration: none;
}

.socials {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
  line-height: 41px;
}

.socials li {
  display: inline-block;
  vertical-align: top;
}

.socials a {
  display: block;
  width: 41px;
  height: 41px;
  font-size: 0;
  color: transparent;
  background-color: #212a3a;
  background-image: url(../img/sprite1.svg#vk-view);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border-radius: 50%;
}

.socials a:active,
.socials a:hover,
.socials a:focus {
  background-color: #ee3643;
  outline: none;
}

.facebook a {
  background-image: url(../img/sprite1.svg#fb-view);
}

.instagram a {
  background-image: url(../img/sprite1.svg#ins-view);
}

.main-button {
  display: block;
  box-sizing: border-box;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 9px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ee3643;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.main-button:hover,
.main-button:focus {
  background-color: #ca2c37;
  outline: none;
  outline: none;
}

.main-button:active {
  background-color: #ba2732;
  outline: none;
}

.main-button--promo {
  width: 115px;
  background-color: rgba(0, 0, 0, 0.1);
}

.main-button--promo:hover,
.main-button--promo:focus {
  background-color: rgba(0, 0, 0, 0.2);
  outline: none;
  outline: none;
}

.main-button--promo:active {
  background-color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.main-button--white {
  color: #000000;
  background-color: #ffffff;
}

.main-button--white:hover,
.main-button--white:focus {
  background-color: #e1e1e1;
  outline: none;
  outline: none;
}

.main-button--white:active {
  background-color: #d1d1d1;
  outline: none;
}

.main-text {
  margin: 0;
}

.tools__info {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f2f6f8;
}

.tools__info h3 {
  margin: 0;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

.main-header {
  position: relative;
  margin-top: 0;
  padding: 30px;
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f9f5f0;
}

.main-header a {
  position: absolute;
  top: 50%;
  right: 30px;
  width: 253px;
  transform: translateY(-50%);
}

.main-text {
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PTSans", Arial, sans-serif;
  color: #000000;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 85px;
  padding-top: 85px;
}

.contacts h2,
.about h2 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
}

.about {
  width: 520px;
  margin-right: auto;
}

.about .main-button {
  width: 220px;
}

.contacts .main-button {
  width: 100%;
}

.contacts {
  width: 300px;
}

.contacts__map {
  margin-top: 25px;
  margin-bottom: 30px;
}

.contacts__map img {
  display: block;
}

.about__partners {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;
}

.about__partners li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 35px;
  font-size: 18px;
  line-height: 24px;
}

.about__partners li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 28px;
  height: 2px;
  background-color: #ee3643;
  transform: translateY(-50%);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.dialog {
  position: relative;
  width: 620px;
  padding-top: 37px;
  background-color: #ffffff;
  border-top: 7px solid #ff5357;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.75);
}

.write-us label,
.write-us input,
.write-us textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  resize: none;
}

.write-us label {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1;
}

.write-us input,
.write-us textarea {
  padding: 0;
  padding: 7px 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: "PTSans", Arial, sans-serif;
  color: #a9a9aa;
  border: 2px solid #dee3e4;
  border-radius: 5px;
}

.dialog__text {
  display: flex;
  margin-right: 80px;
  margin-left: 80px;
}

.dialog__text p {
  flex-grow: 1;
  margin: 0;
}

.write-us__contacts {
  margin-bottom: 20px;
}

.write-us__contacts p:last-child {
  padding-left: 20px;
}

.dialog__controls {
  margin-top: 37px;
  padding: 37px 80px;
  background-color: #f4f4f4;
}

.write-us .main-button {
  width: 100%;
}

.dialog__close-button {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  background-image: url(../img/sprite1.svg#close-view);
  background-position: 50%;
  background-size: cover;
  border: 0;
}

.map-popup {
  position: relative;
  box-shadow: 0 0 16px 0 rgba(47, 42, 43, 0.5);
}

.map-popup img {
  display: block;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 22px 0;
  list-style: none;
}

.breadcrumbs,
.breadcrumbs a {
  font-size: 13px;
  line-height: 1;
  font-family: "PTSans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 45px;
}

.breadcrumbs__item--home {
  line-height: 13px;
}

.breadcrumbs__item--home a {
  display: inline-block;
  width: 14px;
  height: 13px;
  vertical-align: top;
  background-color: transparent;
  background-image: url(../img/sprite1.svg#home-view);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.breadcrumbs__item a:focus,
.breadcrumbs__item a:hover {
  text-decoration: underline;
  outline: none;
}

.breadcrumbs__item--home a:focus,
.breadcrumbs__item--home a:hover {
  background-image: url(../img/sprite1.svg#home-dark-view);
  outline: none;
}

.breadcrumbs__item a::after {
  content: "";
  position: absolute;
  right: -25px;
  width: 7px;
  height: 12px;
  background: transparent url(../img/sprite1.svg#right-small-view) 50% / cover no-repeat;
}

.tools .main-header {
  margin: 0;
  background-color: #f2f6f8;
}

.cart-plus__text p {
  position: relative;
  padding: 20px 0 20px 96px;
  font-size: 30px;
  line-height: 1;
}

.cart-plus__text p::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 66px;
  height: 66px;
  background: transparent url(../img/sprite1.svg#v-view) 50% / cover no-repeat;
  transform: translateY(-50%);
}

.cart-plus__controls {
  display: flex;
  justify-content: space-between;
}

.cart-plus__controls .main-button {
  width: calc(50% - 10px);
}

.tools__nav {
  display: flex;
  flex-direction: column;
}

.tools__nav .breadcrumbs {
  order: 0;
}

.tools__nav h2 {
  order: 1;
}


.tools__catalog {
  display: flex;
  justify-content: space-between;
      align-items: flex-start;

  -ms-align-items: flex-start;
}

.tools__filter {
  width: 220px;
}

.tools__content {
  width: 700px;
}

.tool-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tool-list__item {
  margin-bottom: 20px;
}

.sort-type {
  display: flex;
}

.sort-type span {
  margin-right: auto;
}

.sort-type__item {
  margin-right: 35px;
  margin-left: 35px;
}

.sort-type__item {
  font-weight: normal;
  font-size: 13px;
  line-height: 1;
  font-family: "PTSans", Arial, sans-serif;
  color: #c5c5c5;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dotted #ee3643;
}

.sort-type__item:hover,
.sort-type__item:focus {
  color: #000000;
  border-bottom-style: solid;
  outline: none;
}

.sort-type__item:active,
.sort-type__item--active:hover,
.sort-type__item--active:focus,
.sort-type__item--active {
  color: #ee3643;
  border-bottom: 0;
  outline: none;
}

.sort-type__icon {
  position: relative; /* Чтоб состояние active в ie11 передалось имиджу */
  width: 11px;
  height: 11px;
  margin-left: 25px;
}

.sort-type__icon svg {
  fill: #c5c5c5;
}

.sort-type__icon:hover svg,
.sort-type__icon:focus svg {
  outline: none;

  fill: #000000;
}

.sort-type__item--active:hover svg,
.sort-type__item--active:focus svg {
  outline: none;

  fill: #ee3643;
}

.sort-type__item--active svg,
.sort-type__icon:active svg {
  fill: #ee3643;
}

/* ::after нужен, чтоб победить глюк ie11, у которого ссылка не передает
   состояние :active вложенным в нее элементам */
.sort-type__icon::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.tools__title {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 12px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: normal;
  font-size: 13px;
  line-height: 1;
  font-family: "PTSans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 5px;
}

.filter fieldset {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  padding-bottom: 25px;
  border: 0 none transparent;
  border-bottom: 1px solid #e5e5e5;
}

.filter fieldset:nth-last-child(2) {
  margin-bottom: 50px;
  border: 0 none transparent;
}

.filter legend {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 17px;
  line-height: 1;
  font-family: "PTSans", Arial, sans-serif;
  text-transform: uppercase;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-list__item {
  position: relative;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 17px;
  line-height: 1;
  font-family: "PTSans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.filter-list__item:last-child {
  margin-bottom: 0;
}

.filter-list__item label {
  position: relative;
  padding-left: 35px;
}

.filter-list__item label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 27px;
  height: 27px;
  background-color: transparent;
  background-image: url(../img/sprite1.svg#checkbox-off-view);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transform: translateY(-50%);
  opacity: 0.3;
}

.filter-list__item input:disabled ~ label::before {
  opacity: 0.25;
}

.filter-list__item input:disabled ~ label {
  opacity: 0.3;
}

.filter-list__item input:focus ~ label::before,
.filter-list__item label:hover::before,
.filter-list__item label:active::before {
  opacity: 0.39;
}

.filter-list__item input:checked ~ label::before {
  background-image: url(../img/sprite1.svg#checkbox-on-view);
}

.filter-list__item--power label::before {
  background-image: url(../img/sprite1.svg#radio-off-view);
}

.filter-list__item--power input:checked ~ label::before {
  background-image: url(../img/sprite1.svg#radio-on-view);
}

.catalog-button {
  width: 140px;
  padding: 10px;
  font-size: 13px;
  line-height: 1;
  font-family: "PTSans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  outline: none;
}

.catalog-button:focus,
.catalog-button:hover {
  border-color: #bdc6ca;
}

.catalog-button:active {
  border-color: #ee3744;
}

.filter__cost-set {
  margin: 0;
  text-align: justify;
  text-align-last: justify;
}

.filter__range {
  width: calc(100% - 40px);
  margin-bottom: 7px;
  padding: 40px 20px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
  border: 0;
  border-radius: 5px;
  position: relative;
}

.bar__line {
  position: relative;
  height: 2px;
  background-color: #d7dcde;
}

.bar__color {
  position: absolute;
  height: 2px;
  background-color: #00ca74;
}

.bar__control {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  box-shadow: 0 2px 0 0 #e0ddd8;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.filter__cost {
  width: 75px;
  padding: 10px 0  10px 20px;
  font-weight: normal;
  font-size: 17px;
  line-height: 1;
  font-family: "PTSans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border: 0;
  border-radius: 5px;
}

.tool {
  position: relative;
}

.tool__section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 220px;
  min-height: 318px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 20px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.tool__section:focus,
.tool__section:hover,
.tool__button:focus ~ .tool__section,
.tool__button:hover ~ .tool__section {
  border-color: #ffffff;
  outline: none;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.tool__section:focus .tool__image,
.tool__section:hover .tool__image,
.tool__button:focus ~ .tool__section .tool__image,
.tool__button:hover ~ .tool__section .tool__image {
  z-index: -10;
}

.tool h4 {
  margin: 0;
  margin-bottom: auto;
  padding: 0 10px 0 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  font-family: "PTSans", Arial, sans-serif;
  text-align: center;
}

.tool__cost {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 141px;
  padding: 11px 5px 15px;
  font-weight: bold;
  font-size: 17px;
  line-height: 1;
  font-family: "PTSans", Arial, sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 4px 0 0 4px;
}

.tool__cost::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -40px;
  display: block;
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  transform: translateY(-50%);
}

.tool__button {
  position: absolute;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 135px;
  height: 38px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  font-family: "Cuprum", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  transform: translateX(-50%);
  cursor: pointer;
}

.tool__button--bookmark {
  top: 89px;
  color: #32425c;
  border: 3px solid #63a63e;
}

.tool__button--bookmark:focus,
.tool__button--bookmark:hover {
  border-color: #32425c;
  outline: none;
}

.tool__button--bookmark:active {
  color: #c1c6ce;
  border-color: #c1c6ce;
}

.tool__button--buy {
  top: 44px;
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 #367315;
}

.tool__button--buy::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 38px;
  height: 38px;
  background: transparent url(../img/sprite1.svg#cart-view) 50%/cover no-repeat;
  transform: translateY(-50%);
  opacity: 0.3;
}

.tool__button--buy:focus,
.tool__button--buy:hover {
  background-color: #5fbb2d;
  outline: none;
}

.tool__button--buy:active {
  background-color: #518534;
  box-shadow: none;
}

.tool__button--buy:focus::before,
.tool__button--buy:hover::before {
  opacity: 1;
}

.tool__image {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  margin: 0;
  background-color: #ffffff;
}

.tool__oldcost {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0 10px 0 10px;
  font-weight: bold;
  font-size: 17px;
  line-height: 1;
  font-family: "PTSans", Arial, sans-serif;
  text-align: center;
  color: #999999;
}

.new-marker::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  width: 60px;
  height: 59px;
  background: transparent url(../img/new_flag.png) 0 no-repeat;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  margin: 30px 0 50px;
  padding: 0;
  list-style: none;
}

.pagination__item a {
  display: block;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  margin-right: 10px;
  padding: 11px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1;
  font-family: "PTSans", Arial, sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.pagination__item a:focus,
.pagination__item a:hover {
  border-color: #bdc6ca;
  outline: none;
}

.pagination__item a:active {
  border-color: #ee3643;
  outline: none;
}

.pagination__item--next a {
  width: 140px;
}

.pagination__item--current a,
.pagination__item--current a:active,
.pagination__item--current a:focus,
.pagination__item--current a:hover {
  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;
  outline: none;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-list__item {
  margin-bottom: 20px;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 220px;
  height: 145px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.brand img {
  width: 100%;
  height: auto;
}

.brand:focus,
.brand:hover {
  border: 0;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.brand:active img {
  opacity: 0.3;
}

.brand:active {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.popular-brands {
  padding-bottom: 65px;
}

.promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo h3 {
  margin-top: 0;
  margin-bottom: 13px;
  font-style: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.promo__item {
  position: relative;
  width: 150px;
  /*margin-right: 20px;*/
  margin-bottom: 20px;
  padding: 20px 130px 23px 20px;
  background-color: #ffbf47;
}


.promo__item::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 130px;
  height: 130px;
  background-image: url(../img/sprite1.svg#icon1-view);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transform: translateY(-50%);
}

.promo__item--paint::before {
  background-image: url(../img/sprite1.svg#icon1-view);
}

.promo__item--screwdriver::before {
  background-image: url(../img/sprite1.svg#icon5-view);
}

.promo__item--tractor::before {
  right: 6px;
  background-image: url(../img/sprite1.svg#icon2-view);
}

.promo__item--cart::before {
  right: 10px;
  background-image: url(../img/sprite1.svg#icon3-view);
}

.promo__item--car::before {
  right: 6px;
  background-image: url(../img/sprite1.svg#icon4-view);
}


.promo__item--yellow {
  background-color: #ffbf47;
}

.promo__item--blue {
  background-color: #3bbce3;
}

.promo__item--pink {
  background-color: #dc91d8;
}

.promo__item--green {
  background-color: #8ed78f;
}

.promo-slider {
  position: relative;
  width: 620px;
  height: 266px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #c5c5c5;
}


.slider-button {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 22px;
  height: 40px;
  color: transparent;
  background-color: transparent;
  background-image: url(../img/sprite1.svg#arrow-left-view);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border: 0;
  transform: translateY(-50%);
}

.slider-button:disabled {
  opacity: 0.3;
}

.slider-button__prev {
  left: 25px;
}

.slider-button__next {
  right: 25px;
  background-image: url(../img/sprite1.svg#arrow-right-view);
}

.slider__action {
  position: absolute;
  bottom: 20px;
  width: 175px;
}

.control-list {
  position: absolute;
  bottom: 31px;
  left: 50%;
  z-index: 1;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  transform: translateX(-50%);
}

.control-list__item {
  margin-right: 10px;
}

.control-list__item button {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  color: transparent;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.control-list__item--active button {
  background-color: #ee3643;
}

.slider {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item {
  position: relative;
  height: 226px;
  padding: 20px;
  padding-left: 25px;
  background-color: #333333;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.slide1 {
  background-image: url(../img/promo-perforator.jpg);
}

.slide2 {
  background-image: url(../img/promo-drill.jpg);
}

.slider__item h3 {
  margin: 0;
  padding: 0;
  font-style: bold;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
}

.slider__slogan {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

/* Services */

.service {
  padding-top: 50px;
  background-color: #f4f7f9;
}

.service .wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.service h2 {
  width: 100%;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
}

.service .main-text {
  width: 100%;
}

.service__controls {
  position: relative;
  width: 240px;
  margin: 0;
  margin-top: 45px;
  padding: 0;
  list-style: none;
}

.service__controls::after {
  content: "";
  position: absolute;
  top: -40px;
  right: 0;
  display: block;
  width: 10px;
  height: 280px;
  background-image: url(../img/service-shadow.png);
}

.service__slider {
  width: 620px;
  height: 287px;
  margin: 0;
  margin-top: 45px;
  padding: 0;
  padding-left: 80px;
  overflow: hidden;
}

.slide-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service h3 {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;
}

.service-list__item button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1px;
  padding: 20px;
  font-weight: bold;
  font-size: 21px;
  line-height: 1;
  color: #ffffff;
  background-color: #32425c;
  border: 0;
  border-bottom: 1px solid #2b364a;
  box-shadow: 0 1px 0 0 #405069;
}

.service-list__item button:focus,
.service-list__item button:hover {
  color: #ffffff;
  background-color: #293449;
  outline: none;
}

.service-list__item--active button:focus,
.service-list__item--active button:hover,
.service-list__item--active button {
  color: #32425c;
  background-color: #ffffff;
  border-bottom: 0;
  outline: none;
  box-shadow: none;
}

/*.service-list__item--active button:focus {
  color: #32425c;
  background-color: #efefef;
}
*/
.slide-list__item {
  height: 287px;
  padding-right: 320px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: contain;
}

.slide-list__item--delivery {
  background-image: url(../img/delivery.jpg);
}

.slide-list__item--warranty {
  background-image: url(../img/warranty.jpg);
}

.slide-list__item--credit {
  background-image: url(../img/credit.jpg);
}

.service .main-button {
  width: 175px;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: none;
  width: 100vw;
  height: 100vh;
}

.modal--show {
  display: flex;
}
