@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Cuprum";

  src: url("../fonts/cuprum.woff") format("woff"),
  url("../fonts/cuprum.woff2") format("woff2");
}

@font-face {
  font-style: italic;
  font-weight: 400;
  font-family: "Cuprum";

  src: url("../fonts/cuprumitalic.woff") format("woff"),
  url("../fonts/cuprumitalic.woff2") format("woff2");
}

@font-face {
  font-weight: bold;
  font-family: "Cuprum";

  src: url("../fonts/cuprumbold.woff") format("woff"),
  url("../fonts/cuprumbold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "PTSans";

  src: url("../fonts/ptsans.woff") format("woff"),
  url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: bold;
  font-family: "PTSans";

  src: url("../fonts/ptsansbold.woff") format("woff"),
  url("../fonts/ptsansbold.woff2") format("woff2");
}

body {
  font-family: "Cuprum", Arial, sans-serif;
}

.wrapper {
  width: 940px;
  margin: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header-top {
  height: 42px;
  background-color: #293449;
}

.header-top .wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative; /* Чтоб состояние active в ie11 передалось имиджу */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 42px;
  margin: 0;
  padding: 0;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

/* Чтоб состояние active в ie11 передалось имиджу */
.logo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.logo:hover {
  background-color: #ca2c37;
  border-bottom-color: #9a212a;
}

.logo:active {
  background-color: #ba2732;
  border-bottom-color: #8e1e26;
}

.logo img {
  display: block;
}

.header-top__menu {
  margin: 0;
}

.header-button {
  position: relative;
  display: inline-block;
  height: 18px;
  padding: 11px 30px 13px 40px;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}

.header-button:hover {
  background-color: #212a3a;
}

.header-button:active {
  color: #5e626b;
  background-color: #161d29;
}

.header-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 42px;
  background-image: url(../img/sprite1.svg#search-view);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transform: translateY(-50%);
  opacity: 0.3;
}

.header-button:hover::before {
  opacity: 1;
}

.header-button:active::before {
  opacity: 0.5;
}

.button-bookmarks::before {
  background-image: url(../img/sprite1.svg#bookmark-view);
}

.button-bookmarks--fill,
.button-cart--full {
  background-color: #ee3643;
}

.button-cart::before {
  background-image: url(../img/sprite1.svg#cart-view);
}

.button-order::before {
  display: none;
}

.button-order {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #63a63e;
}

.button-order:hover {
  background-color: #5fbb2d;
}

.button-order:active {
  color: #a2be93;
  background-color: #518534;
}

.form-search {
  display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
  height: 42px;
}

.form-search:hover {
  background-color: #212a3a;
}

.form-search:hover .button-search {
  opacity: 1;
}

.button-search {
  width: 50px;
  height: 42px;
  margin: 0;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  background-image: url(../img/sprite1.svg#search-view);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border: 0;
  opacity: 0.3;
}

.search-text {
  flex-grow: 1;
  font-size: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  background-color: transparent;
  border: 0;
}

.search-text:focus {
  background-color: #ffffff;
  outline: none;
}

.search-text:focus ~ .button-search {
  background-color: #ffffff;
  background-image: url(../img/sprite1.svg#search-red-view);
  opacity: 1;
}

.header-middle {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #f2f6f8;
}

.header-middle .wrapper {
  display: flex;
  /*justify-content: space-between;*/
  align-items: flex-start;
  /*width: 940px;*/
}

.header-middle.user-menu--logout .user-menu__user {
  display: none;
}

.header-middle.user-menu--login .user-menu__signin {
  display: none;
}

.header-address {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  margin-right: auto;
  font-size: 14px;
  line-height: 30px;
  color: #32425c;
}

.header-address span {
  padding-right: 10px;
  padding-left: 10px;
}

.header-address a {
  position: relative;
  padding: 10px 0 9px 65px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  text-decoration: none;
  border: 3px solid #ffffff;
}

.header-address a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 45px;
  height: 40px;
  background-image: url(../img/sprite1.svg#phone-view);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transform: translateY(-50%);
  opacity: 0.3;
}

h1 {
  width: 200px;
  margin: 0;
  margin-right: 60px;
  padding-left: 50px;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.button-icon {
  position: relative;
  padding: 10px 25px 9px 50px;
  font-size: 21px;
  line-height: 21px;
  color: #32425c;
  text-decoration: none;
  background-color: #ffffff;
  border: 3px solid #ffffff;
}

.button-icon:hover {
  color: #ee3643;
}

.button-icon:active {
  color: #c5c5c5;
}

.button-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 45px;
  height: 40px;
  background-image: url(../img/sprite1.svg#login-view);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transform: translateY(-50%);
  opacity: 0.3;
}

.button-icon:hover::before {
  opacity: 1;
}

.button-icon:active::before {
  opacity: 0.3;
}

.button-login {
  margin-right: 10px;
}

.button-login::before {
  background-image: url(../img/sprite1.svg#login-view);
}

.button-signup::before {
  content: none;
}

.button-signup {
  padding-left: 25px;
}

.button-user:hover {
  color: #32425c;
}

.button-user:active {
  color: #c5c5c5;
}

.button-user::before {
  background-image: url(../img/sprite1.svg#user-view);
}

.button-logout {
  display: block;
  width: 0;
  padding-right: 0;
  overflow: hidden;
}

.button-logout::before {
  background-image: url(../img/sprite1.svg#logout-view);
}

.user-menu__signin {
  display: flex;
  list-style: none;
}

.user-menu__name {
  display: flex;
  margin: 0;
  padding: 0;
}

.user-menu__nav {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  text-align: left;
}

.user-menu__nav a,
.user-menu__nav {
  font-size: 16px;
  line-height: 30px;
  color: #32425c;
}

.user-menu__nav a:hover {
  color: #ee3643;
}

.user-menu__nav a:active {
  color: #c5c5c5;
}

.header-bottom {
  padding-top: 0;
  padding-bottom: 45px;
  background-color: #f2f6f8;
}

.main-nav ul {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0 20px;
  list-style: none;
}

.main-nav ul::before,
.main-nav ul::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 20px;
  border-bottom: 5px solid #293449;
}

.main-nav ul::before {
  left: 0;
}

.main-nav ul::after {
  right: 0;
}

.main-nav__item {
  flex-grow: 1;
  text-align: center;
}

.main-nav__item a {
  display: block;
  padding: 20px 0 15px 0;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 5px solid #293449;
}


.main-nav__item a:hover {
  background-color: #293449;
}

.main-nav__item a:active {
  color: #a8abaf;
  background-color: #1d2739;
  border-bottom: 5px solid #1d2739;
}


.header-bottom .wrapper {
  background-color: #32425c;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-top,
.footer-middle {
  background-color: #32425c;
}

.footer-middle {
  padding-bottom: 50px;
}

.footer-bottom {
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #293449;
}

.footer-nav {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  list-style: none;
}

.footer-middle .footer-nav {
  padding-top: 30px;
}

.footer-nav-item {
  display: block;
  padding: 0 30px;
}

.footer-nav-item:last-child {
  padding-right: 0;
}

.footer-nav-item a {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.footer-middle-nav a {
  color: #ffd180;
}

.footer-nav-item a:hover {
  text-decoration: underline;
}

.footer-nav-item a:active {
  opacity: 0.5;
}

.footer-logo {
  display: flex;
  height: 63px;
  margin-right: auto;
}

.footer-logo img {
  width: 136px;
  height: auto;
}

.footer-address {
  margin: 0;
  margin-right: auto;
  padding-top: 30px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-address a {
  color: inherit;
  text-decoration: none;
}

.footer-address a:hover {
  text-decoration: underline;
}

.footer-text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}

.footer-contacts {
  margin-left: 135px;
}

.footer-develop {
  margin-left: 50px;
}

.footer-text a {
  color: #ffd180;
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}

.footer-text a:active {
  color: #ee3643;
  text-decoration: none;
}

.socials {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.socials li {
  display: inline-block;
}

.socials a {
  display: block;
  width: 41px;
  height: 41px;
  font-size: 0;
  color: transparent;
  background-color: #212a3a;
  background-image: url(../img/sprite1.svg#vk-view);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border-radius: 50%;
}

.socials a:active,
.socials a:hover {
  background-color: #ee3643;
}

.facebook a {
  background-image: url(../img/sprite1.svg#fb-view);
}

.instagram a {
  background-image: url(../img/sprite1.svg#ins-view);
}

.main-button {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 9px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ee3643;
  border: 0;
  border-radius: 3px;
}

.main-button:hover {
  background-color: #ca2c37;
  outline: none;
}

.main-button:active {
  background-color: #ba2732;
  outline: none;
}

.main-button--promo {
  width: 115px;
  background-color: rgba(0, 0, 0, 0.1);
}

.main-button--promo:hover {
  background-color: rgba(0, 0, 0, 0.2);
  outline: none;
}

.main-button--promo:active {
  background-color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.main-button--white {
  color: #000000;
  background-color: #ffffff;
}

.main-button--white:hover {
  background-color: #e1e1e1;
  outline: none;
}

.main-button--white:active {
  background-color: #d1d1d1;
  outline: none;
}

.main-text {
  margin: 0;
}

.tools__info {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f2f6f8;
}

.tools__info h3 {
  margin: 0;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

.main-header {
  position: relative;
  margin-top: 0;
  padding: 30px;
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f9f5f0;
}

.main-header a {
  position: absolute;
  top: 50%;
  right: 30px;
  width: 253px;
  transform: translateY(-50%);
}

.main-text {
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PTSans", Arial, sans-serif;
  color: #000000;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 85px;
  padding-bottom: 85px;
}

.contacts h2,
.about h2 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
}

.about {
  width: 520px;
  margin-right: auto;
}

.about .main-button {
  width: 220px;
}

.contacts .main-button {
  width: 100%;
}

.contacts {
  width: 300px;
}

.contacts__map {
  margin-top: 25px;
  margin-bottom: 30px;
}

.about__partners {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;
}

.about__partners li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 35px;
  font-size: 18px;
  line-height: 24px;
}

.about__partners li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 28px;
  height: 2px;
  background-color: #ee3643;
  transform: translateY(-50%);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.dialog {
  position: relative;
  width: 620px;
  padding-top: 37px;
  border-top: 7px solid #ff5357;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.75);
}

.write-us label,
.write-us input,
.write-us textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  resize: none;
}

.write-us label {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1;
}

.write-us input,
.write-us textarea {
  padding: 0;
  padding: 7px 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: "PTSans", Arial, sans-serif;
  color: #a9a9aa;
  border: 2px solid #dee3e4;
  border-radius: 5px;
}

.dialog__text {
  display: flex;
  margin-right: 80px;
  margin-left: 80px;
}

.dialog__text p {
  flex-grow: 1;
  margin: 0;
}

.write-us__contacts {
  margin-bottom: 20px;
}

.write-us__contacts p:last-child {
  padding-left: 20px;
}

.dialog__controls {
  margin-top: 37px;
  padding: 37px 80px;
  background-color: #f4f4f4;
}

.write-us .main-button {
  width: 100%;
}

.map-popup__close-button,
.dialog__close-button {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  background-image: url(../img/sprite1.svg#close-view);
  background-position: 50%;
  background-size: cover;
  border: 0;
}

.map-popup {
  position: relative;
  box-shadow: 0 0 16px 0 rgba(47, 42, 43, 0.5);
}

.map-popup img {
  display: block;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 22px 0;
  list-style: none;
}

.breadcrumbs,
.breadcrumbs a {
  font-size: 13px;
  line-height: 1;
  font-family: "PTSans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 45px;
}

.breadcrumbs__item--home a {
  display: inline-block;
  width: 14px;
  height: 13px;
  vertical-align: top;
  background-color: transparent;
  background-image: url(../img/sprite1.svg#home-view);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.breadcrumbs__item a:focus,
.breadcrumbs__item a:hover {
  text-decoration: underline;
  outline: none;
}

.breadcrumbs__item--home a:focus,
.breadcrumbs__item--home a:hover {
  background-image: url(../img/sprite1.svg#home-dark-view);
  outline: none;
}

.breadcrumbs__item a::after {
  content: "";
  position: absolute;
  right: -25px;
  width: 7px;
  height: 12px;
  background: transparent url(../img/sprite1.svg#right-small-view) 50% / cover no-repeat;
}

.tools .main-header {
  margin: 0;
  background-color: #f2f6f8;
}

.cart-plus__text p {
  position: relative;
  padding: 20px 0 20px 96px;
  font-size: 30px;
  line-height: 1;
}

.cart-plus__text p::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 66px;
  height: 66px;
  background: transparent url(../img/sprite1.svg#v-view) 50% / cover no-repeat;
  transform: translateY(-50%);
}

.cart-plus__controls {
  display: flex;
  justify-content: space-between;
}

.cart-plus__controls .main-button {
  width: calc(50% - 10px);
}

.tools__nav {
  display: flex;
  flex-direction: column;
}

.tools__nav .breadcrumbs {
  order: 0;
}

.tools__nav h2 {
  order: 1;
}


.tools__catalog {
  display: flex;
  justify-content: space-between;
      align-items: flex-start;

  -ms-align-items: flex-start;
}

.tools__filter {
  width: 220px;
}

.tools__content {
  width: 700px;
}

.tool-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tool-list__item {
  box-sizing: border-box;
  width: 220px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 20px;
  border: 1px solid #e5e5e5;
}

.sort-type {
  display: flex;
}

.sort-type span {
  margin-right: auto;
}

.sort-type__item {
  margin-right: 35px;
  margin-left: 35px;
}

.sort-type__item {
  font-weight: normal;
  font-size: 13px;
  line-height: 1;
  font-family: "PTSans", Arial, sans-serif;
  color: #c5c5c5;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dotted #ee3643;
}

.sort-type__item:hover {
  color: #000000;
  border-bottom-style: solid;
}

.sort-type__item:active,
.sort-type__item--active:hover,
.sort-type__item--active {
  color: #ee3643;
  border-bottom: 0;
}

.sort-type__icon {
  position: relative; /* Чтоб состояние active в ie11 передалось имиджу */
  width: 11px;
  height: 11px;
  margin-left: 25px;
}

.sort-type__icon svg {
  fill: #c5c5c5;
}

.sort-type__icon:hover svg {
  fill: #000000;
}

.sort-type__item--active:hover svg {
  fill: #ee3643;
}

.sort-type__item--active svg,
.sort-type__icon:active svg {
  fill: #ee3643;
}

/* ::after нужен, чтоб победить глюк ie11, у которого ссылка не передает
   состояние :active вложенным в нее элементам */
.sort-type__icon::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.tools__title {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 12px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: normal;
  font-size: 13px;
  line-height: 1;
  font-family: "PTSans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 5px;
}

.filter fieldset {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  padding-bottom: 25px;
  border: 0 none transparent;
  border-bottom: 1px solid #e5e5e5;
}

.filter fieldset:nth-last-child(2) {
  margin-bottom: 50px;
  border: 0 none transparent;
}

.filter legend {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 17px;
  line-height: 1;
  font-family: "PTSans", Arial, sans-serif;
  text-transform: uppercase;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.filter-list__item {
  position: relative;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 17px;
  line-height: 1;
  font-family: "PTSans", Arial, sans-serif;
  text-transform: uppercase;
}

.filter-list__item:last-child {
  margin-bottom: 0;
}

.filter-list__item label {
  position: relative;
  padding-left: 35px;
}

.filter-list__item label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 27px;
  height: 27px;
  background-color: transparent;
  background-image: url(../img/sprite1.svg#checkbox-off-view);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transform: translateY(-50%);
  opacity: 0.3;
}

.filter-list__item input:focus ~ label::before,
.filter-list__item label:hover::before {
  opacity: 0.39;
}

.filter-list__item label:active::before {
  opacity: 0.13;
}

.filter-list__item input:checked ~ label::before {
  background-image: url(../img/sprite1.svg#checkbox-on-view);
}

.filter-list__item--power label::before {
  background-image: url(../img/sprite1.svg#radio-off-view);
}

.filter-list__item--power input:checked ~ label::before {
  background-image: url(../img/sprite1.svg#radio-on-view);
}

.catalog-button {
  width: 140px;
  padding: 10px;
  font-size: 13px;
  line-height: 1;
  font-family: "PTSans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  outline: none;
}

.catalog-button:focus,
.catalog-button:hover {
  border-color: #bdc6ca;
}

.catalog-button:active {
  border-color: #ee3744;
}

.filter__cost-set {
  margin: 0;
  text-align: justify;
  text-align-last: justify;
}

.filter__range {
  width: calc(100% - 40px);
  margin-bottom: 7px;
  padding: 12px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
  border: 0;
  border-radius: 5px;
}

.filter__cost {
  /*text-align: center;*/
  width: 75px;
  padding: 10px 0  10px 20px;
  font-weight: normal;
  font-size: 17px;
  line-height: 1;
  font-family: "PTSans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border: 0;
  border-radius: 5px;
}
