@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Cuprum";

  src: url("../fonts/cuprum.woff") format("woff"),
    url("../fonts/cuprum.woff2") format("woff2");
}

@font-face {
  font-style: italic;
  font-weight: 400;
  font-family: "Cuprum";

  src: url("../fonts/cuprumitalic.woff") format("woff"),
    url("../fonts/cuprumitalic.woff2") format("woff2");
}

@font-face {
  font-weight: bold;
  font-family: "Cuprum";

  src: url("../fonts/cuprumbold.woff") format("woff"),
    url("../fonts/cuprumbold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "PTSans";

  src: url("../fonts/ptsans.woff") format("woff"),
    url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: bold;
  font-family: "PTSans";

  src: url("../fonts/ptsansbold.woff") format("woff"),
    url("../fonts/ptsansbold.woff2") format("woff2");
}

body {
  font-family: "Cuprum", Arial, sans-serif;
}

.wrapper {
  width: 940px;
  margin: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.header-top {
  height: 42px;

  background-color: #293449;
}

.header-top .wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 42px;
  margin: 0;
  padding: 0;

  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.logo:hover {
  background-color: #ca2c37;
  border-bottom-color: #9a212a;
}

.logo:active {
  background-color: #ba2732;
  border-bottom-color: #8e1e26;
}

.logo img {
  display: block;
}

.header-top__menu {
  margin: 0;
}

.header-button {
  position: relative;

  display: inline-block;
  height: 18px;
  padding: 11px 30px 13px 40px;

  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}

.header-button:hover {
  background-color: #212a3a;
}

.header-button:active {
  color: #5e626b;

  background-color: #161d29;
}

.header-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 40px;
  height: 42px;

  background-image: url(../img/sprite1.svg#search-view);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transform: translateY(-50%);
  opacity: 0.3;
}

.header-button:hover::before {
  opacity: 1;
}

.header-button:active::before {
  opacity: 0.5;
}

.button-bookmarks::before {
  background-image: url(../img/sprite1.svg#bookmark-view);
}

.button-bookmarks--fill,
.button-cart--full {
  background-color: #ee3643;
}

.button-cart::before {
  background-image: url(../img/sprite1.svg#cart-view);
}

.button-order::before {
  display: none;
}

.button-order {
  padding-right: 20px;
  padding-left: 20px;

  background-color: #63a63e;
}

.button-order:hover {
  background-color: #5fbb2d;
}

.button-order:active {
  color: #a2be93;

  background-color: #518534;
}

.form-search {
  display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
  height: 42px;
}

.form-search:hover {
  background-color: #212a3a;
}

.form-search:hover .button-search {
  opacity: 1;
}

.button-search {
  width: 50px;
  height: 42px;
  margin: 0;
  padding: 0;

  font-size: 0;

  background-color: transparent;
  background-image: url(../img/sprite1.svg#search-view);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border: 0;
  opacity: 0.3;
}

.search-text {
  flex-grow: 1;

  font-size: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;

  background-color: transparent;
  border: 0;
}

.search-text:focus {
  background-color: #ffffff;
  outline: none;
}

.search-text:focus~.button-search {
  background-color: #ffffff;
  background-image: url(../img/sprite1.svg#search-red-view);
  opacity: 1;
}

.header-middle {
  padding-top: 45px;
  padding-bottom: 45px;

  background-color: #f2f6f8;
}

.header-middle .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 940px;
}

.header-middle.user-menu--logout .user-menu__user {
  display: none;
}

.header-middle.user-menu--login .user-menu__signin {
  display: none;
}

.header-address {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;

  font-size: 14px;
  line-height: 30px;
  color: #32425c;
}

.header-address span {
  padding-right: 10px;
  padding-left: 10px;
}

.header-address a {
  position: relative;

  padding: 10px 0 9px 65px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  text-decoration: none;

  border: 3px solid #ffffff;
}

.header-address a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 45px;
  height: 40px;

  background-image: url(../img/sprite1.svg#phone-view);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transform: translateY(-50%);
  opacity: 0.3;
}

h1 {
  width: 200px;
  margin: 0;
  padding-left: 50px;

  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.button-icon {
  position: relative;

  padding: 10px 25px 9px 50px;

  font-size: 21px;
  line-height: 21px;
  color: #32425c;
  text-decoration: none;

  background-color: #ffffff;
  border: 3px solid #ffffff;
}

.button-icon:hover {
  color: #ee3643;
}

.button-icon:active {
  color: #c5c5c5;
}

.button-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 45px;
  height: 40px;

  background-image: url(../img/sprite1.svg#login-view);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  transform: translateY(-50%);
  opacity: 0.3;
}

.button-icon:hover::before {
  opacity: 1;
}

.button-icon:active::before {
  opacity: 0.3;
}

.button-login {
  margin-right: 10px;
}

.button-login::before {
  background-image: url(../img/sprite1.svg#login-view);
}

.button-signup::before {
  content: none;
}

.button-signup {
  padding-left: 25px;
}

.button-user:hover {
  color: #32425c;
}

.button-user:active {
  color: #c5c5c5;
}

.button-user::before {
  background-image: url(../img/sprite1.svg#user-view);
}

.button-logout {
  display: block;
  width: 0;
  padding-right: 0;
  overflow: hidden;
}

.button-logout::before {
  background-image: url(../img/sprite1.svg#logout-view);
}

.user-menu__signin {
  display: flex;

  list-style: none;
}

.user-menu__name {
  display: flex;
  margin: 0;
  padding: 0;
}

.user-menu__nav {
  margin: 0;
  padding: 0;
  padding-left: 20px;

  text-align: left;
}

.user-menu__nav a,
.user-menu__nav {
  font-size: 16px;
  line-height: 30px;
  color: #32425c;
}

.user-menu__nav a:hover {
  color: #ee3643;
}

.user-menu__nav a:active {
  color: #c5c5c5;
}

.header-bottom {
  padding-top: 0;
  padding-bottom: 45px;

  background-color: #f2f6f8;
}

.main-nav ul {
  position: relative;

  display: flex;
  margin: 0;
  padding: 0 20px;

  list-style: none;
}

.main-nav ul::before,
.main-nav ul::after {
  content: "";
  position: absolute;
  bottom: 0;

  display: block;
  width: 20px;

  border-bottom: 5px solid #293449;
}

.main-nav ul::before {
  left: 0;
}

.main-nav ul::after {
  right: 0;
}

.main-nav__item {
  flex-grow: 1;

  text-align: center;
}

.main-nav__item a {
  display: block;
  padding: 20px 0 15px 0;

  color: #ffffff;
  text-decoration: none;

  border-bottom: 5px solid #293449;
}


.main-nav__item a:hover {
  background-color: #293449;
}

.main-nav__item a:active {
  color: #a8abaf;

  background-color: #1d2739;
  border-bottom: 5px solid #1d2739;
}


.header-bottom .wrapper {
  background-color: #32425c;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-top,
.footer-middle {
  background-color: #32425c;
}

.footer-middle {
  padding-bottom: 50px;
}

.footer-bottom {
  padding-top: 30px;
  padding-bottom: 40px;

  text-align: center;

  background-color: #293449;
}

.footer-nav {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 40px;

  list-style: none;
}

.footer-middle .footer-nav {
  padding-top: 30px;
}

.footer-nav-item {
  display: block;
  padding: 0 30px;
}

.footer-nav-item:last-child {
  padding-right: 0;
}

.footer-nav-item a {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.footer-middle-nav a {
  color: #ffd180;
}

.footer-nav-item a:hover {
  text-decoration: underline;
}

.footer-nav-item a:active {
  opacity: 0.5;
}

.footer-logo {
  display: flex;
  height: 63px;
  margin-right: auto;
}

.footer-logo img {
  width: 136px;
  height: auto;
}

.footer-address {
  margin: 0;
  margin-right: auto;
  padding-top: 30px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-address a {
  color: inherit;
  text-decoration: none;
}

.footer-address a:hover {
  text-decoration: underline;
}

.footer-text {
  float: right;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}

.footer-contacts {
  margin-left: 135px;
}

.footer-develop {
  margin-left: 50px;
}

.footer-text a {
  color: #ffd180;
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}

.footer-text a:active {
  color: #ee3643;
  text-decoration: none;
}

.socials {
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.socials li {
  display: inline-block;
}

.socials a {
  display: block;
  width: 41px;
  height: 41px;

  font-size: 0;
  color: transparent;

  background-color: #212a3a;
  background-image: url(../img/sprite1.svg#vk-view);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border-radius: 50%;
}

.socials a:active,
.socials a:hover {
  background-color: #ee3643;
}

.facebook a {
  background-image: url(../img/sprite1.svg#fb-view);
}

.instagram a {
  background-image: url(../img/sprite1.svg#ins-view);
}

.main-button {
  display: inline-block;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 9px;
  padding-left: 10px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #ee3643;
  border: 0;
  border-radius: 3px;
}

.main-button:hover {
  background-color: #ca2c37;
}

.main-button:active {
  background-color: #ba2732;
}

.main-button--promo {
  width: 115px;

  background-color: rgba(0, 0, 0, 0.1);
}

.main-button--promo:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.main-button--promo:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-text {
  margin: 0;
}

.tool-info {
  padding-top: 50px;
  padding-bottom: 50px;

  background-color: #f2f6f8;
}

.tool-info h3 {
  margin: 0;
}

.main-header {
  position: relative;

  margin-top: 0;
  padding: 30px;

  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f9f5f0;
}

.main-header a {
  position: absolute;
  top: 50%;
  right: 30px;

  width: 233px;

  transform: translateY(-50%);
}

.main-text {
  margin-bottom: 20px;

  font-size: 13px;
  line-height: 24px;
  font-family: "PTSans", Arial, sans-serif;
  color: #000000;
}

.about .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 85px;
  padding-bottom: 85px;
}

.about h3 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
}

.about__info {
  width: 520px;
  margin-right: auto;
}

.about__info .main-button {
  width: 200px;
}

.about__contacts .main-button {
  width: calc(100% - 20px);
}

.about__contacts {
  width: 300px;
}

.about__map {
  margin-top: 25px;
  margin-bottom: 30px;
}

.about__partners {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  list-style: none;
}

.about__partners li {
  position: relative;

  margin-bottom: 10px;
  padding-left: 35px;

  font-size: 18px;
  line-height: 24px;
}

.about__partners li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 28px;
  height: 2px;

  background-color: #ee3643;
  transform: translateY(-50%);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.write-us {
  position: relative;

  width: 620px;
  padding-top: 37px;

  border-top: 7px solid #ff5357;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.75);
}

.write-us label,
.write-us input,
.write-us textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;

  resize: none;
}

.write-us label {
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 1;
}

.write-us input,
.write-us textarea {
  padding: 0;
  padding: 7px 15px;

  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: "PTSans", Arial, sans-serif;
  color: #a9a9aa;

  border: 2px solid #dee3e4;
  border-radius: 5px;
}

.write-us__contacts {
  display: flex;
}

.write-us__contacts p {
  flex-grow: 1;
}

.write-us__contacts p:last-child {
  padding-left: 20px;
}

.write-us__field {
  margin-right: 80px;
  margin-left: 80px;
}

.write-us__controls {
  margin-top: 37px;
  padding: 37px 80px;

  background-color: #f4f4f4;
}

.write-us__controls .main-button {
  width: 100%;
}

.button-close {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;

  background-color: transparent;
  background-image: url(../img/sprite1.svg#close-view);
  background-position: 50%;
  background-size: cover;
  border: 0;
}

.map-popup {
  position: relative;
  box-shadow: 0 0 16px 0px rgba(47, 42, 43, 0.5);
}

.map-popup img {
  display: block;
}

.breadcrumbs {
  margin: 0;
  padding: 22px 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.breadcrumbs,
.breadcrumbs a {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.breadcrumbs__item {
  margin-right: 45px;
  position: relative;
}

.breadcrumbs__item--home a {
  display: inline-block;
  width: 14px;
  height: 13px;
  vertical-align: top;

  background-color: transparent;
  background-image: url(../img/sprite1.svg#home-view);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.breadcrumbs__item a:focus,
.breadcrumbs__item a:hover {
  text-decoration: underline;
  outline: none;
}

.breadcrumbs__item--home a:focus,
.breadcrumbs__item--home a:hover {
  background-image: url(../img/sprite1.svg#home-dark-view);
  outline: none;
}

.breadcrumbs__item a::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 12px;
  right: -25px;
  background: transparent url(../img/sprite1.svg#right-small-view) 50% / cover no-repeat;
}

.tools .main-header {
  background-color: #f2f6f8;
}
